<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AppQuanLyNV.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="AppQuanLyNV.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="AppQuanLyNV.Properties.Settings.NhanVienConnectionString"
            connectionString="Data Source=LAPTOP-8EBELOTL;Initial Catalog=NhanVien;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <AppQuanLyNV.Properties.Settings>
            <setting name="HourIn" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MinIn" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HourOut" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MinOut" serializeAs="String">
                <value>0</value>
            </setting>
        </AppQuanLyNV.Properties.Settings>
        <AppQuanLyNV.Settings1>
            <setting name="TextBox" serializeAs="String">
                <value />
            </setting>
        </AppQuanLyNV.Settings1>
    </userSettings>
</configuration>